.about-me {
  background: #3752A1;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 171px;
  width: 100%;

  @media (max-width: 767px) {
    overflow: visible;
  }

  &__container {
    background-color: transparent !important;
    height: 370px;
  }

  &__slant {
    border-color: transparent transparent transparent #3752A1;
    border-style: dashed;
    border-width: 400px 0 0 100px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    @media (max-width: 767px) {
      display: none;
      opacity: 0;
      overflow: hidden;
    }
  }

  &__image {
    width: 398px;
    height: auto;

    @media screen and (max-width: 767px) {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    &--container {
      position: absolute;
      right: 0;
      z-index: 1;

      @media screen and (max-width: 767px) {
        bottom: 85%;
        left: 0;
        width: 150px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        background-color: transparent;
      }
    }
  }

  &__profile-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;

    @media (min-width: 767px) {
      padding: 40px;
    }

    .links {
      max-width: 500px;
      margin-left: -12px;
      margin-top: 12px;
      height: 100%;

      @media screen and (max-width: 990px) {
        max-width: 325px;
      }

      @media screen and (max-width: 767px) {
        max-width: 100%;
        padding: 0;
        margin: 0 auto 9px;
      }

      .social {
        margin-left: 12px;
        margin-bottom: 4px;

        @media screen and (max-width: 400px) {
          margin-left: 5px;
        }

        @media screen and (max-width: 767px) {
          top: 0;
          margin-left: 5px;

          &:first-child {
            margin-left: 0;
          }
        }

        .link-icon {
          font-size: 15px;
          vertical-align: middle;
          padding-bottom: 15px;
        }
      }
    }
  }

  &__profile-header {
    @media screen and (max-width: 767px) {
      text-align: center;
      margin-top: 38px;
    }
  }

  &__profile-name {
    display: block;
    width: 100%;
    font-weight: 900;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
  }

  &__profile-details {
    display: block;
    width: 100%;
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__profile-items-container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__profile-item {
    font-size: 23px;
  }

  &__profile-item-details {
    display: block;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
  }

  &__profile-item-title {
    display: block;
    float: left;
    color: #fff;
    line-height: 26px;

    .fa {
      padding-left: 2px;
    }
  }
}
