.card-generic {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  width: 95%;

  &--transparent {
    background-color: transparent;
  }

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1000px;
  }
}
