.timeline-education {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 60%;
    height: 50%;
    width: 4px;
    opacity: 0.3;
    background: #038175;

    @media only screen and (min-width: 768px) {
      left: 50%;
      margin-left: -2px;
      height: 50%;
      opacity: 0.4;
      background: #038175;
    }
  }
}
