/*******************/
/***   GENERAL   ***/
/*******************/
html,
body {
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6,
  span {
    font-family: 'Raleway', sans-serif; 
  } 

  p,
  a,
  li,
  label,
  input,
  blockquote,
  cite,
  div {
    font-family: 'Muli', sans-serif; 
  }

  p {
    color: #757575;
  }

  a {
    color: #1976D2;

    &:hover {
      color: #2988e6;
      text-decoration: none;
    }

    &:focus {
      color: #12579b;
      text-decoration: none;
    }
  }

  h1 {
    font-weight: 700;
  }

  h2, 
  h3,
  h4 {
    font-weight: 600; 
  }

  h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
  }

  h5,
  h6 {
    font-weight: 500; 
  }
  
  h6 {
    font-size: 1.4em;
  }

  p, 
  a, 
  li {
    font-weight: 400; 
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out; 
  }
  
  .btn {
    padding-top: 8px; 
  }
}

/*******************/
/***   SECTION   ***/
/*******************/
.section {
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: transparent; 
  
  .section-title {
    margin-bottom: 30px; 

    .title-icon {
      margin-right: 20px; 
    }
  }
}

/*******************/
/***  CONTAINER  ***/
/*******************/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0); 

  @media (min-width: 768px) {
    width: 750px; 
  }
  
  @media (min-width: 992px) {
    width: 970px; 
  }
  
  @media (min-width: 1200px) {
    width: 1000px; 
  } 
}

/*******************/
/***    CARD     ***/
/*******************/
.card {
  position: relative;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  margin: 8px 0; 
  
  .card-content {
    padding: 40px;
    border-radius: 0 0 2px 2px;

    p {
      margin: 0;
      color: inherit;
      text-align: center; 
    }
  }
}
